*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(93, 141, 230), rgb(91, 230, 91));
}

.calculator-grid {
  margin: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.75);
  opacity: 0.75;
}

.calculator-grid button:hover {
  background-color: rgb(255, 255, 255, 1);
}

.span-two {
  grid-column: span 2;
}

.output {
  color: white;
  display: flex;
  background-color: black;
  grid-column: 1 / -1;
  opacity: 0.75;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .output1 {
  font-size: 1.5rem;
  opacity: 0.75;
}

.output .output2 {
  font-size: 2rem;
}
