*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, teal, pink);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
}
